
/* Vital stuff, theme invariant */
.carousel /* whole carousel needs to be make javascript-missing failsafe*/
{
    position:relative; /* Required for button positioning */
	
	/* Default for no js. */
    overflow-x:scroll; 
	overflow-y:hidden;
    white-space:nowrap; /* Prevents elemnt divs from stacking vertically */
	
	
	/* Disable selecting divs */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.carousel_button_left, .carousel_button_right
{
    position:absolute;
	top:0;
    height:100%;
}


.carousel_mask
{ 
    overflow:hidden; /* Because its a mask, duh */

    white-space:nowrap; /* Prevents elemnt divs from stacking vertically */
	
    margin-left:auto;
    margin-right:auto;
}

.carousel_slider
{
    position:relative; /* Required for positioning and animation */
    left:0px;
	font-size:0px; /* needed to get rid of space between elements */
}

.slider_element
{
	display:inline-block; /* Required for positioning */
	vertical-align:top; /* Prevents vertical offest when elements differ in hight */
	
	width:100%;

}




.left_symbol, .right_symbol
{
	width: 0;
	height: 0;
	border-style: solid;
	
	
	/* Vertical center */
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
	
	display:block;
	margin-left:auto;
	margin-right:auto;
}


/* End vital stuff */











/* Default theme - light */
.carousel
{
	/* height - appears to not be needed?
    height:630px; /* sum of content heights (generally, slider_element_image + .slider_element_text [offer auto option?])*/
    width:750px; /*image (+ space for each button, if they're outside [offer auto option?])*/
	
	padding-bottom:50px;
	padding-top:20px;
	
    margin-left:auto;
    margin-right:auto;
    
	/* Color */
	background-color:#eeeeee;
	
	
}

.carousel_mask
{ 
    width:600px; /* same as element*/
}


.carousel_button_left, .carousel_button_right
{
    width:75px;
}

.slider_element
{
	height:630px;/* same as carousel*/
}

.carousel_button_left:hover, .carousel_button_right:hover
{
	background-color:#e7e7e7;
}




.left_symbol
{
	opacity:0.1;
	border-width: 40px 40px 40px 0;
	border-color: transparent #000000 transparent transparent;
}


.right_symbol
{
	opacity:0.1;
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #000000;
}

/* End default theme */