
/* Vital stuff, theme invariant */
.carousel /* whole carousel needs to be make javascript-missing failsafe*/
{
    position:relative; /* Required for button positioning */
	

	/* Disable selecting divs */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.primary_carousel_button_left, .primary_carousel_button_right
{
    position:absolute;
	top:0;
    height:100%;
}

.primary_carousel_button_left
{
	left:0px;
}

.primary_carousel_button_right
{
	right:0px;
}

.primary_mask, thumb_mask
{ 
	width:100%;
	height:100%;
    overflow:hidden; /* Because its a mask, duh */

    white-space:nowrap; /* Prevents elemnt divs from stacking vertically */
	
    margin-left:auto;
    margin-right:auto;
}

.primary_slider, thumb_slider
{
    overflow:hidden; 
    white-space:nowrap; 
	
    position:relative; /* Required for positioning and animation */
    left:0px;
	font-size:0px; /* needed to get rid of space between elements */
}

.primary_slider_element
{
	display:inline-block; /* Required for positioning */
	vertical-align:top; /* Prevents vertical offest when elements differ in hight */
	
	width:100%;

}




.primary_left_symbol, .primary_right_symbol
{
	width: 0;
	height: 0;
	border-style: solid;
	
	
	/* Vertical center */
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
	
	display:block;
	margin-left:auto;
	margin-right:auto;
}


/* End vital stuff */











/* Default theme - light */
.carousel
{
    width:800px;
	height:700px;
	
    margin-left:auto;
    margin-right:auto;
    
	/* Color */
	background-color:#eeeeee;
	 
	
}


.primary_carousel_button_left, .primary_carousel_button_right
{
    width:75px;
}

.primary_slider_element
{
	height:630px;/* same as carousel*/
}

.primary_carousel_button_left:hover, .primary_carousel_button_right:hover
{
	background-color:rgba(225,225,225,0.2);
}

.primary_image
{
	max-width:800px;
	max-height:600px;
	
	margin-left:auto;
	margin-right:auto;
	
	/* Vertical center */
	display:block;
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

.primary_left_symbol
{
	opacity:0.1;
	border-width: 40px 40px 40px 0;
	border-color: transparent #000000 transparent transparent;
}


.primary_right_symbol
{
	opacity:0.1;
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #000000;
}

/* End default theme */