.carousel
{	
    width:750px; /*image (+ space for each button, if they're outside [offer auto option?]) */
	
	
	padding-bottom:50px;
	padding-top:20px;
	
    margin-left:auto;
    margin-right:auto;
    
	/* Color */
	background-color:#191919;
	
}

.carousel_mask
{ 

    width:600px; /* same as element width*/

}

.slider_element
{
	height:630px;/* same as carousel*/
}

.carousel_button_left:hover, .carousel_button_right:hover
{
	background-color:#1e1e1e;
}




.left_symbol
{
	opacity:0.1;
	border-width: 40px 40px 40px 0;
	border-color: transparent #ddd transparent transparent;
}


.right_symbol
{
	opacity:0.1;
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #ddd;
}