.carousel
{	
    width:600px; 
	height:700px;
	
	
    margin-left:auto;
    margin-right:auto;
    
	/* Color */
	background-color:#191919;
	
}

.element_image
{
	max-width:600px;
	max-height:600px;
	
	margin-left:auto;
	margin-right:auto;
	
	/* Vertical center */
	display:block;
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

.carousel_button_left:hover, .carousel_button_right:hover
{
	background-color:rgba(50,50,50,0.2);
}




.left_symbol
{
	opacity:0.1;
	border-width: 40px 40px 40px 0;
	border-color: transparent #ddd transparent transparent;
}


.right_symbol
{
	opacity:0.1;
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #ddd;
}